[submodule "deepseek-harness"]
	path = deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness
[submodule "dsh-terminal"]
	path = plugins/terminal
	url = ../dsh-terminal
[submodule "dsh-file-explorer"]
	path = plugins/dsh-file-explorer
	url = https://github.com/joejojoking-cloud/dsh-file-explorer
[submodule "src-tauri/whale-icon"]
	path = src-tauri/whale-icon
	url = https://github.com/fornarwhal/deepseek-whale-girl-icon